header {
    display: flex;
    flex-direction: row;
}

label {
    font-size: 14px;
    font-weight: bold !important;
    padding-right: 12px;
}

.filterissue-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}