# Ref: https://editorconfig.org

root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{graphql,js,json,nix,toml,ts,tsx,yaml,yml}]
indent_size = 2

[{Makefile,go.mod,go.sum,*.go}]
indent_style = tab
