# ensure that nix-direnv is available at the minimum specified version (or
# greater). this supports caching of the dev shell, which greatly reduces the
# loading time of activations after the first.
if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
  source_url \
    "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" \
    "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
fi

# allow extending this .envrc with a user-defined .envrc.local. note that if
# this exists, it is automatically watched for changes
source_env_if_exists .envrc.local

# ancillary files to watch for changes. these files are included in the
# development shell and as such, the shell should be reloaded after changes
watch_file shell-hook.bash
watch_file ci/default.nix

# load the development shell defined in the flake.nix file
# note that this automatically watches the following files:
#   $HOME/.direnvrc
#   $HOME/.config/direnv/direnvrc
#   shell.nix
#   default.nix
use nix
