# go compiler output file
/git-bug

# test binaries built with go test -c
*.test

# code coverage and test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# editor configuration
.idea/
.vscode/

# nix and direnv related tooling
.envrc
.envrc.local
/.direnv/
!/.envrc

# symlinks to nix-store output dirs, created by `nix-build`
/result
/result-*
