language: go

go:
  - "1.9"
  - "1.10.x"

install:
  - make install

script:
  - make test
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
