.bt-issue {
    background-color: #2ea44fd9;
    border: 1px solid;
    border-color: #1b1f2326;
    border-radius: 6px;
    padding: 6px 12px;

    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    text-decoration: none;

    transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.bt-issue:hover {
    background-color: #2ea44f;
    border-color: #1b1f2326;
}